In [2]:
import pandas as pd

In [3]:
folder_path = r'F:\smapledata\heart_disease_raw.csv'
heart_df = pd.read_csv(folder_path)
heart_df.head()

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Exercise,Heart_ stroke
0,Male,39,Postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,Daily,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,Weekly,No
2,Male,48,uneducate,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,Daily,No
3,Female,61,GRADUATE,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,daily,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,monthly,No

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.types import Date

pg_engine = create_engine(
    'postgresql+psycopg2://postgres:test@localhost:5432/hell'
)
heart_df.to_sql(
    name="Heart_Disease_Track",
    con=pg_engine,
    if_exists="append",
    index=False,
    dtype={
        "file_date": Date
    }
)

print("Data successfully loaded into PostgreSQL")

Data successfully loaded into PostgreSQL

In [5]:
print(heart_df.sample(15))

      Gender  age      education  currentSmoker  cigsPerDay  BPMeds  \
2373  Female   50     uneducated              0         0.0     0.0
2643    Male   38     uneducated              0         0.0     0.0
2469    Male   48   postgraduate              1        20.0     0.0
2795  Female   60     uneducated              0         0.0     0.0
845   Female   46  primaryschool              0         0.0     0.0
1775  Female   41     uneducated              0         0.0     0.0
3011  Female   55     uneducated              0         0.0     0.0
2825  Female   59   postgraduate              0         0.0     1.0
474     Male   46  primaryschool              1        20.0     0.0
3605    Male   58       graduate              0         0.0     0.0
3113    Male   42            NaN              1         5.0     0.0
1137  Female   45   postgraduate              1        20.0     0.0
3757    Male   45     uneducated              1        20.0     0.0
2912  Female   39  primaryschool              0         0.0     0.0
1517  Female   56       graduate              0         0.0     0.0

     prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
2373              no             0         0    189.0  144.0   88.0  39.08
2643              no             0         0    205.0  125.0   85.0  28.03
2469              no             1         0    259.0  135.0   90.0  20.72
2795              no             1         0    295.0  149.0  103.5  22.69
845               no             0         0    304.0  131.5   78.5  21.02
1775              no             0         0    197.0  121.0   84.0  23.07
3011              no             0         0    204.0  131.0   87.0  24.68
2825              no             1         0    282.0  135.0   87.0  28.96
474               no             0         0    235.0  150.0   96.5  27.22
3605              no             0         0    250.0  109.0   78.5  25.26
3113              no             1         0    184.0  149.0   95.0  28.77
1137              no             0         0    192.0  132.0   79.0  24.53
3757              no             0         0    212.0  118.0   71.0  21.03
2912              no             0         0    252.0  125.0   86.0  20.74
1517              no             0         0    248.0  112.5   60.0  22.69

      heartRate  glucose Exercise Heart_ stroke
2373       60.0     87.0     week           yes
2643       60.0     84.0    daily            No
2469      102.0     81.0  monthly           yes
2795       80.0     52.0   Weekly            No
845        68.0    112.0  MONTHLY            No
1775       80.0      NaN  monthly            No
3011       63.0     70.0     week            No
2825       72.0      NaN  MONTHLY            No
474        94.0     78.0   Weekly            No
3605       90.0     83.0     week            No
3113       80.0     94.0    Daily            No
1137       68.0    112.0  monthly            No
3757       66.0     83.0  monthly            No
2912       75.0     93.0     week            No
1517       75.0     92.0    DIALY            No

In [6]:
print(heart_df.dtypes)

Gender                 str
age                  int64
education              str
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke        str
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
Exercise               str
Heart_ stroke          str
dtype: object

In [7]:
heart_df['is_duplicate'] = heart_df.duplicated(keep=False)
print(heart_df)

      Gender  age      education  currentSmoker  cigsPerDay  BPMeds  \
0       Male   39   Postgraduate              0         0.0     0.0
1     Female   46  primaryschool              0         0.0     0.0
2       Male   48      uneducate              1        20.0     0.0
3     Female   61       GRADUATE              1        30.0     0.0
4     Female   46       graduate              1        23.0     0.0
...      ...  ...            ...            ...         ...     ...
4243  Female   45  primaryschool              1        20.0     0.0
4244    Male   52     uneducated              0         0.0     0.0
4245    Male   50     uneducated              1         1.0     0.0
4246    Male   51       graduate              1        43.0     0.0
4247  Female   48  primaryschool              1        20.0     NaN

     prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                 no             0         0    195.0  106.0   70.0  26.97
1                 no             0         0    250.0  121.0   81.0  28.73
2                 no             0         0    245.0  127.5   80.0  25.34
3                 no             1         0    225.0  150.0   95.0  28.58
4                 no             0         0    285.0  130.0   84.0  23.10
...              ...           ...       ...      ...    ...    ...    ...
4243              no             0         0    313.0  300.0   71.0  21.68
4244              no             1         0    260.0  141.5   89.0  26.36
4245              no             1         0    400.0  179.0   92.0  25.97
4246              no             0         0    207.0  126.5   80.0  19.71
4247              no             0         0    248.0  131.0   72.0  22.00

      heartRate  glucose Exercise Heart_ stroke  is_duplicate
0          80.0     77.0    Daily            No         False
1          95.0     76.0   Weekly            No         False
2          75.0     70.0    Daily            No         False
3          65.0    103.0    daily           yes         False
4          85.0     85.0  monthly            No          True
...         ...      ...      ...           ...           ...
4243       79.0     78.0     week            No         False
4244       76.0     79.0  MONTHLY            No         False
4245       66.0     86.0    DIALY           yes         False
4246       65.0     68.0    Daily            no         False
4247       84.0     86.0   Weekly            No         False

[4248 rows x 18 columns]

In [8]:
heart_df = heart_df.drop_duplicates()
heart_df

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Exercise,Heart_ stroke,is_duplicate
0,Male,39,Postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,Daily,No,False
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,Weekly,No,False
2,Male,48,uneducate,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,Daily,No,False
3,Female,61,GRADUATE,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,daily,yes,False
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,monthly,No,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,Female,45,primaryschool,1,20.0,0.0,no,0,0,313.0,300.0,71.0,21.68,79.0,78.0,week,No,False
4244,Male,52,uneducated,0,0.0,0.0,no,1,0,260.0,141.5,89.0,26.36,76.0,79.0,MONTHLY,No,False
4245,Male,50,uneducated,1,1.0,0.0,no,1,0,400.0,179.0,92.0,25.97,66.0,86.0,DIALY,yes,False
4246,Male,51,graduate,1,43.0,0.0,no,0,0,207.0,126.5,80.0,19.71,65.0,68.0,Daily,no,False
4247,Female,48,primaryschool,1,20.0,NaN,no,0,0,248.0,131.0,72.0,22.00,84.0,86.0,Weekly,No,False

In [9]:
heart_df.describe().round(2)

,age,currentSmoker,cigsPerDay,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
count,4246.00,4246.00,4217.00,4192.00,4246.00,4246.00,4196.00,4246.00,4246.00,4227.00,4245.00,3858.00
mean,49.59,0.49,9.02,0.03,0.31,0.03,236.83,132.41,82.95,25.82,75.87,81.97
std,8.57,0.50,11.93,0.17,0.46,0.16,44.77,22.18,12.46,4.24,12.02,23.94
min,32.00,0.00,0.00,0.00,0.00,0.00,107.00,83.50,48.00,15.54,44.00,40.00
25%,42.00,0.00,0.00,0.00,0.00,0.00,206.00,117.00,75.00,23.07,68.00,71.00
50%,49.00,0.00,0.00,0.00,0.00,0.00,234.00,128.00,82.00,25.40,75.00,78.00
75%,56.00,1.00,20.00,0.00,1.00,0.00,263.00,144.00,90.00,28.04,83.00,87.00
max,70.00,1.00,70.00,1.00,1.00,1.00,696.00,300.00,323.00,100.00,143.00,394.00

In [10]:
heart_df.isna()
heart_df

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Exercise,Heart_ stroke,is_duplicate
0,Male,39,Postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,Daily,No,False
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,Weekly,No,False
2,Male,48,uneducate,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,Daily,No,False
3,Female,61,GRADUATE,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,daily,yes,False
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,monthly,No,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,Female,45,primaryschool,1,20.0,0.0,no,0,0,313.0,300.0,71.0,21.68,79.0,78.0,week,No,False
4244,Male,52,uneducated,0,0.0,0.0,no,1,0,260.0,141.5,89.0,26.36,76.0,79.0,MONTHLY,No,False
4245,Male,50,uneducated,1,1.0,0.0,no,1,0,400.0,179.0,92.0,25.97,66.0,86.0,DIALY,yes,False
4246,Male,51,graduate,1,43.0,0.0,no,0,0,207.0,126.5,80.0,19.71,65.0,68.0,Daily,no,False
4247,Female,48,primaryschool,1,20.0,NaN,no,0,0,248.0,131.0,72.0,22.00,84.0,86.0,Weekly,No,False